@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;&family=Noto+Sans+TC:wght@400;700&display=swap');
@import url('./space.css');

#app {
  position   : fixed;
  height     : 100%;
  width      : 100%;
  top        : 0;
  bottom     : 0;
  left       : 0;
  right      : 0;
  overflow   : hidden;
  font-weight: 400;
  font-family: 'Noto Sans TC', 'Montserrat', sans-serif;
  color      : #FFFFFF;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.c-black {
  color: #000000;
}

.c-purple {
  color: #00092B;
}

.fz-9px {
  font-size: 9px;
}

.fz-14px {
  font-size: 14px;
}

.bg-white {
  background-color: #FFFFFF;
}